@using DistribucionDependencias.Domain.Entities
@model IEnumerable<Categoria>

@{
    ViewBag.Title = "Categorías";
}

<h2>Categorías</h2>
@foreach(var c in Model)
{
    <div class="well">
        <h4>
            @c.CategoriaID  <strong>@c.Nombre</strong>
        </h4>
        <span>@c.Descripcion</span>
    </div>
}
