@using DistribucionDependencias.Domain.Entities
@model IEnumerable<Categoria>

@{
    ViewBag.Title = "Categorías";
}

@foreach(var c in Model)
{
    <div>
        <h3>@c.Nombre</h3>
        @c.Descripcion
        <h4>@c.CategoriaID</h4>
    </div>
}
